<h1>Your credentials </h1>
<div>User name: <%=currentUserInfo.username %> </div>
<br>
<div>Email: <%= currentUserInfo.email %> </div>
<br>
<div> <img class="profilePic" src="<%= currentUserInfo.photoAddress %>">
</div>
