<h2> Sign Up </h2>

<% if (errorMessage) { %>
  <p class="error-message">
    <%= errorMessage %>
  </p>
  <% } %>

    <form action="/signup" method="post" enctype="multipart/form-data">
      <div class="input-group input-group-sm">
        <label for="name-input"> Name </label>
        <input class="form-control" type="text" name="name" id="name-input" placeholder="e.g., Diana Prince">
      </div>
      <br>

      <div class="input-group input-group-sm">
        <label for="email-input"> Email </label>
        <input class="form-control" type="email" name="email" id="email-input" placeholder="e.g., Diana@warrior.company">
      </div>
      <br>

      <div class="input-group input-group-sm">
        <label for="password-input"> Password </label>
        <input class="form-control" type="password" name="password" id="password-input" placeholder="e.g., ****">
      </div>
      <br>

      <div class="input-group input-group-sm">
        <label for="photo-input"></label>
        <input class="form-control" id="photo-input" type="file" name="photo">
      </div>
      <br>

      <button type='submit'> Create New Account </button>
    </form>

    <a href="/auth/facebook">Log in w/FB</a>

    <p>OR</p>

    <a href="/auth/google">Log in w/Google</a>
    <br>

    <p>
      Already have an account?
      <a href="/login">
    Log in.
  </a>
    </p>
